################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
src/Services/Branch/Branch.API/bin/
src/Services/Branch/Branch.API/obj/
src/Services/User/User.API/bin/
src/Services/User/User.API/obj/
src/Services/Rating/Rating.API/bin/
src/Services/Rating/Rating.API/obj/
src/Services/Queue/Queue.API/bin/
src/Services/Queue/Queue.API/obj/
src/Services/Services/Services.API/bin/
src/Services/Services/Services.API/obj/
src/Services/Location/Location.API/bin/
src/Services/Location/Location.API/obj/
src/Web/ChopCheck.Web/bin/
src/Web/ChopCheck.Web/obj/
