<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add
      name="ChopCheckApplication"
      providerName="System.Data.SqlClient"
      connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=ChopCheckApplication;Integrated Security=True;" />
  </connectionStrings>
  <entityFramework>
    <contexts>
      <context type="ChopCheck.Data.EntityFramework.ChopCheckContext, ContosoUniversity">
        <databaseInitializer type="ContosoUniversity.DAL.SchoolInitializer, ContosoUniversity" />
        <disabledatabaseInitializer value="True"/>
      </context>
    </contexts>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>